main {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
}

.left-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(122,122,122,1);
}

.title h2{
    font-size: 36px;
    font-weight: 400;
}

.register {
    padding-top: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 4px;
    padding-left: 0.3rem;
}
    
.input {
    width: 455px;
    height: 38px;
    padding: 0 1.5rem;
    border: 1px solid black;
    outline: 0;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 5px;
}

.invalid-input {
    border: 1px solid red;
}

.invalid{
    display: none;
    padding-left: 0.3rem;
    color: red;
}

.err-msg {
    display: block;
}

/* Validação via JavaScript */
.btn-reg {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
}

.button-register {
    width: 156px;
    height: 38px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

.button-register:hover {
    background-color: rgba(194, 194, 194, 0.4);
}

.delete-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.delete-button input {
    width: 116px;
    height: 38px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1px solid #FF0000;
    color: #FF0000;
    font-size: 14px;
    cursor: pointer;
}

.delete-button input:hover {
    background-color: rgba(194, 194, 194, 0.4);
}

p {
    margin: 0;
}

/* Comeco do conteudo historico de movimentacoes */

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(122,122,122,1);
    border: 1px solid black;
    background-color: #fff;
    padding: 0.7rem 0;
}

.right-content h1 {
    font-size: 2rem;
    color: #000;
    margin-top: 2rem;
    font-weight: 400;
    text-align: center;
}

.input-search input {
    height: 38px;
    width: 408px;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem 2.5rem;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search img {
    width: 22px;
    height: 24px;
    position: relative;
    right: -0.7rem;
    bottom: 2rem;
}

.estoque-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    font-family: sans-serif;
    margin: 1rem 0 2rem 0;
}

.estoque-container h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.table-container {
    display: flex;
    width: 90%;
    max-height: 270px;
    overflow-y: auto;
    border-radius: 15px;
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:not(:last-child){
    border-bottom: 1px solid #ddd;
}

th {
    padding: 10px 15px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid black;
}

td {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}

.status {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.status i {
    display: flex;
    align-items: center;
}

.em-estoque {
    color: #32C505;
    font-weight: 500;
}

.sem-estoque {
    color: #FF0000;
    font-weight: 500;
}

.hidden {
    display: none;
}

/* Fim do conteudo do historico de movimentacoes*/

@media screen and (max-width: 450px){
    main {
        height: 100%;
        padding: 3rem 0;
    }

    .title h2{
        font-size: 2em;
        text-align: center;
    }

    .input-search {
        margin: 0 1rem;
    }

    .input-search input {
        width: 100%;
    }
}

@media screen and (max-width: 850px){
    .table-container {
        justify-content: left;
        overflow-x: auto;
    }
}

@media screen and (max-width: 1500px){
    main {
        height: auto;
    }

    section {
        gap: 50px;
        margin: 2rem 0;
    }

    .left-content {
        margin-top: 2rem;
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .register {
        width: 80%;
    }

    .right-content {
        width: 100%;
    }
}